@page "/addBabyGiftView"
@page "/addBabyGiftView/{giftId}"

@using Microsoft.AspNetCore.Http.Extensions
@using asagiv.dbmanager.addresses
@using asagiv.dbmanager.webinterface.Data
@inject MainDbContextService dbContextService
@inject NavigationManager navManager

<h1>Baby Gift Details</h1>

@if (babyGift == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@babyGift" OnValidSubmit="onNewGiftValidSubmitAsync">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="input-group input-group-lg" style="margin:5px">
            <div class="input-group-prepend">
                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">Gift</span>
            </div>
            <input type="text" class="form-control" @bind-value="@babyGift.giftDescription">
        </div>

        @foreach (var selectedPerson in selectedPeople.Where(x => x != null).ToList())
        {
            <div class="input-group input-group-lg" style="margin:5px">
                <BlazoredTypeahead SearchMethod="findPeopleAsync"
                                   EnableDropDown="true"
                                   ShowDropDownOnFocus="true"
                                   MaximumSuggestions="1000"
                                   @bind-Value="@selectedPerson.value"
                                   placeHolder="From">

                    <SelectedTemplate Context="people">
                        @people.ToString()
                    </SelectedTemplate>

                    <ResultTemplate Context="people">
                        @people.ToString()
                    </ResultTemplate>

                </BlazoredTypeahead>
            </div>
        }

        <div class="form-check" style="margin:5px">
            <input type="checkbox" class="form-check-input" id="tyNoteCheck">
            <label class="form-check-label" for="tyNoteCheck">Thank You Note Written</label>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" style="margin:5px" @onclick="addNewPerson">Add Person</button>
            <button type="button" class="btn btn-secondary" style="margin:5px" @onclick="removePerson">Remove Person</button>
            <button type="submit" class="btn btn-primary" style="margin:5px">Save Gift</button>
        </div>

    </EditForm>
}

@code {
    [Parameter]
    public string giftId { get; set; }

    private BabyGift babyGift;
    private IList<SelectedListItem<Family>> selectedPeople;

    protected override async Task OnInitializedAsync()
    {
        selectedPeople = new List<SelectedListItem<Family>>();

        if (string.IsNullOrWhiteSpace(giftId))
        {
            babyGift = new BabyGift();
            selectedPeople.Add(new SelectedListItem<Family>());
            return;
        }
        else
        {
            var giftIdNumber = long.Parse(giftId);
            babyGift = await dbContextService.getGiftFromIdAsync(giftIdNumber);

            var giftPeople = await dbContextService.getPeopleFromGift(babyGift);

            foreach (var person in giftPeople)
                selectedPeople.Add(new SelectedListItem<Family> { value = person });
        }
    }

    public async Task onNewGiftValidSubmitAsync()
    {
        await dbContextService.addGiftAsync(babyGift, selectedPeople.Select(x => x.value).ToList());
        navManager.NavigateTo("/babyGiftListView");
    }

    public void addNewPerson(MouseEventArgs e)
    {
        selectedPeople.Add(new SelectedListItem<Family>());
    }

    public void removePerson(MouseEventArgs e)
    {
        if (selectedPeople.Count > 0)
            selectedPeople.RemoveAt(selectedPeople.Count - 1);
    }

    public async Task<IEnumerable<Family>> findPeopleAsync(string filterString)
    {
        return await dbContextService.filterFamiliesAsync(filterString);
    }
}
