@page "/addPersonView"
@page "/addPersonView/{personId}"

@using asagiv.dbmanager.addresses
@using asagiv.dbmanager.webinterface.Data
@inject MainDbContextService dbContextService
@inject NavigationManager navManager

@if (family == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@family" OnValidSubmit="onAddNewPersonClickAsync">

        <DataAnnotationsValidator />
        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

        <div class="input-group input-group-lg" style="margin:5px">
            <div class="input-group-prepend">
                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">
                    Family Name
                </span>
            </div>
            <input type="text" class="form-control" @bind-value="@family.familyName">
        </div>

        <div class="input-group input-group-lg" style="margin:5px">
            <div class="input-group-prepend">
                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">
                    Address Header
                </span>
            </div>
            <input type="text" class="form-control" @bind-value="@family.addressHeader">
        </div>

        <div class="d-flex justify-content-center">
            <div class="d-flex align-items-center">
                <div>Family Members</div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-link" style="margin:5px" @onclick="addNewMember">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                        </svg>
                    </button>
                </div>

            </div>
        </div>

        @foreach (var member in family.familyMembers)
        {
            <div class="d-flex justify-content-start">

                <div class="input-group input-group-lg" style="margin:5px">
                    <div class="input-group-prepend">
                        <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">Name</span>
                    </div>
                    <input class="form-control" @bind="@member.personName" />
                </div>

                <div class="input-group input-group-lg" style="margin:5px">
                    <div class="input-group-prepend">
                        <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">Date of Birth</span>
                    </div>
                    <input type="date" class="form-control" @bind="@member.dateOfBirth" />
                </div>

                <button type="button" class="btn btn-link" style="margin:5px" @onclick="() => deleteMember(member)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </button>

            </div>
        }

        <div class="d-flex justify-content-center">
            <div class="d-flex align-items-center">
                <div>Addresses</div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-link" style="margin:5px" @onclick="addNewAddress">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        @foreach (var address in family.addresses)
        {
            <div class="d-flex justify-content-start">

                <div class="container-fluid">

                    <div class="input-group input-group-lg" style="margin:5px">
                        <div class="input-group-prepend">
                            <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">Street</span>
                        </div>
                        <textarea class="form-control" @bind="@address.street" />
                    </div>

                    <div class="d-flex align-items-center">

                        <div class="input-group input-group-lg" style="margin:5px">
                            <div class="input-group-prepend">
                                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">City</span>
                            </div>
                            <input type="text" class="form-control" @bind-value="@address.city">
                        </div>

                        <div class="input-group input-group-lg" style="margin:5px">
                            <div class="input-group-prepend">
                                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">State</span>
                            </div>
                            <input type="text" class="form-control" @bind-value="@address.state">
                        </div>

                    </div>

                    <div class="d-flex align-items-center">

                        <div class="input-group input-group-lg" style="margin:5px">
                            <div class="input-group-prepend">
                                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">Country</span>
                            </div>
                            <input type="text" class="form-control" @bind-value="@address.country">
                        </div>

                        <div class="input-group input-group-lg" style="margin:5px">
                            <div class="input-group-prepend">
                                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">ZIP</span>
                            </div>
                            <input type="text" class="form-control" @bind-value="@address.zip">
                        </div>

                    </div>

                </div>

                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-link" style="margin:5px" @onclick="() => deleteAddress(address)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button>
                </div>

            </div>
        }

        <div class="d-flex justify-content-center">

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" style="margin:5px">Save Family</button>
            </div>

        </div>

    </EditForm>
}

@code {
    [Parameter]
    public string personId { get; set; }

    private Family family;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(personId))
        {
            family = new Family();
            family.familyMembers.Add(new Person());
            family.addresses.Add(new Address());
        }
        else
        {
            var id = long.Parse(personId);
            family = await dbContextService.getFamilyFromIdAsync(id);
        }
    }

    public void addNewMember()
    {
        family.familyMembers.Add(new Person());
    }

    public void addNewAddress()
    {
        family.addresses.Add(new Address());
    }

    public void deleteMember(Person member)
    {
        family.familyMembers.Remove(member);
    }

    public void deleteAddress(Address addressToRemove)
    {
        family.addresses.Remove(addressToRemove);
    }

    public async Task onAddNewPersonClickAsync()
    {
        await dbContextService.saveFamilyAsync(family);
        navManager.NavigateTo("/peopleView");
    }
}
