@page "/addPersonView"
@page "/addPersonView/{personId}"

@using asagiv.dbmanager.addresses
@using asagiv.dbmanager.webinterface.Data
@inject MainDbContextService dbContextService
@inject NavigationManager navManager

<h1>Edit Person Details</h1>

@if (family == null)
{
    <p>Loading...</p>
}
else
{
<EditForm Model="@family" OnValidSubmit="onAddNewPersonClickAsync">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="input-group input-group-lg" style="margin:5px">
        <div class="input-group-prepend">
            <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">Family Name</span>
        </div>
        <input type="text" class="form-control" @bind-value="@family.familyName">
    </div>

    <div class="input-group input-group-lg" style="margin:5px">
        <div class="input-group-prepend">
            <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">Name</span>
        </div>
        <input type="text" class="form-control" @bind-value="@family.addressHeader">
    </div>

    @foreach (var address in family.addresses)
    {
        <div class="input-group input-group-lg" style="margin:5px">
            <div class="input-group-prepend">
                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">Street</span>
            </div>
            <textarea class="form-control" @bind="@address.Street" />
        </div>

        <div class="input-group input-group-lg" style="margin:5px">
            <div class="input-group-prepend">
                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">City</span>
            </div>
            <input type="text" class="form-control" @bind-value="@address.City">
        </div>

        <div class="input-group input-group-lg" style="margin:5px">
            <div class="input-group-prepend">
                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">State</span>
            </div>
            <input type="text" class="form-control" @bind-value="@address.State">
        </div>

        <div class="input-group input-group-lg" style="margin:5px">
            <div class="input-group-prepend">
                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">Country</span>
            </div>
            <input type="text" class="form-control" @bind-value="@address.Country">
        </div>

        <div class="input-group input-group-lg" style="margin:5px">
            <div class="input-group-prepend">
                <span style="width:200px" class="input-group-text" id="inputGroup-sizing-lg">ZIP</span>
            </div>
            <input type="text" class="form-control" @bind-value="@address.Zip">
        </div>
    }

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" style="margin:5px">Add Address</button>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" style="margin:5px">Save Person</button>
    </div>

</EditForm>
}

@code {
    [Parameter]
    public string personId { get; set; }

    private Family family;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(personId))
        {
            family = new Family();
            family.addresses.Add(new Address());
        }
        else
        {
            var id = long.Parse(personId);
            family = await dbContextService.getFamilyFromIdAsync(id);
        }
    }

    public async Task onAddNewPersonClickAsync()
    {
        await dbContextService.saveFamilyAsync(family);
        navManager.NavigateTo("/peopleView");
    }
}
