@page "/"
@page "/peopleView"

@using Microsoft.AspNetCore.Http.Extensions
@using asagiv.dbmanager.babythankyounotes
@using asagiv.dbmanager.webinterface.Data
@inject MainDbContextService dbContextService
@inject NavigationManager navManager

<h1>People</h1>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" style="margin:5px" @onclick="onAddNewPersonClick">Add New Person</button>
</div>

@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zip</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
            <tr>
                <td>@person.Name</td>
                <td>@person.Street</td>
                <td>@person.City</td>
                <td>@person.State</td>
                <td>@person.Country</td>
                <td>@person.Zip</td>
                <td>
                    <button class="btn btn-link" @onclick="@(() => editPerson(person))" data-toggle="tooltip"
                            data-placement="top" title="Edit">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                        </svg>
                    </button>
                </td>
                <td>
                    <button class="btn btn-link" data-toggle="tooltip"
                            data-placement="top" title="Delete">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
                        </svg>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code
{
    private IList<People> people;

    protected override async Task OnInitializedAsync()
    {
        people = await dbContextService.getPeopleAsync();
    }

    public void onAddNewPersonClick(MouseEventArgs e)
    {
        navManager.NavigateTo("/addPersonView");
    }

    public void editPerson(People person)
    {
        navManager.NavigateTo($"addPersonView/{person.PeopleId}");
    }
}
